.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-style: italic;
}

.toolsGrid {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.card {
  height: 100%;
}

.cardContent {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
} 