.root {
  min-height: 100%;
  height: fit-content;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  padding: 32px 0;
}

.topbar {
  margin: 4px 0 8px 0;
}

.menu:hover > .menu-content {
  display: block;
}

.menu-content {
  display: none;
  position: absolute;
  width: 100%;
  top: 32;
  left: 0;
  z-index: 1;
  background: white;
  padding: 8px;
}

.menu-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-content ul li.title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}
